.page {
  background: url('../../../public/gigfinder-back.jpg') no-repeat center center/cover;
  height: 100vh; 
}

.event-details-page {
  max-width: 80%;
  margin: 2rem auto;
  padding: 20px;
  background-color: #252525;
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); 
}

.img-map-container {
  display: flex;
  justify-content: space-around;
}

.event-details-name {
  font-size: 2rem;
  margin-bottom: 10px;
  color: #ffffff;
}

.event-details-image {
  width: 40%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  border-radius: 8px;
}

.event-description {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

.event-details-date,
.event-details-time,
.event-details-venue,
.event-details-venue-address {
  font-size: 1rem;
  margin-bottom: 5px;
  color: #ffffff;
}

.add-to-calendar,
.tickets-link {
  display: inline-block;
  margin: 20px 5px 5px 5px;
  padding: 10px 15px;
  background-color: rgb(236, 0, 178); 
  color: white;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s;
  font-size: 1rem;
  border: none;
  cursor: pointer;
}

.add-to-calendar:hover,
.tickets-link:hover {
  background-color: #b800a6; 
}