.landing-page {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: center;
  height: 100vh;
  background: url('../../../public/gigfinder-back.jpg') no-repeat center center/cover;
  color: white;
  text-align: center;
  font-family: Arial, sans-serif;
}

.gigfinder-logo {
  margin-bottom: 20px;
  height: 7rem;
}

.hero-section {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 40px; 
  border-radius: 10px;
  max-width: 700px;
  width: 100%;
}

.tagline {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 30px;
}

.find-events-button {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 10px 20px;
  background-color: rgb(236, 0, 178);
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.find-events-button:hover {
  background-color: #ff2a1a;
}