.events-list-page {
  background: url('../../../public/gigfinder-back.jpg') no-repeat center center/cover;
  padding-bottom: 20px;
  overflow: visible;

}

h2 {
  color: white;
  margin-top: 3rem;
  margin-left: 30px;
}